# Required Settings
CANARY_PUBLIC_DOMAIN=                       #str
CANARY_WG_PRIVATE_KEY_SEED=                 #str
LOG_FILE=switchboard.log                    #str

# Optional Settings (these have sane defaults)
#CANARY_CHANNEL_DNS_IP=                     #str
#CANARY_CHANNEL_DNS_PORT=                   #int
#CANARY_CHANNEL_HTTP_PORT=                  #int
#CANARY_CHANNEL_SMTP_PORT=                  #int
#CANARY_CHANNEL_MYSQL_PORT=                 #int
#CANARY_CHANNEL_MTLS_KUBECONFIG_PORT=       #int
#CANARY_CHANNEL_WIREGUARD_PORT=             #int
#CANARY_SWITCHBOARD_SCHEME=                 #["https", "http"]
#CANARY_FORCE_HTTPS=                        #bool
#CANARY_REAL_IP_HEADER=                     #str

#CANARY_WG_PRIVATE_KEY_N=                   #str

# Email Alert Settings
#CANARY_ALERT_EMAIL_FROM_ADDRESS=           #str
#CANARY_ALERT_EMAIL_FROM_DISPLAY=           #str
#CANARY_ALERT_EMAIL_SUBJECT=                #str

# Alert Settings
#CANARY_MAX_ALERTS_PER_MINUTE=              #int
#CANARY_MAX_ALERT_FAILURES=                 #int

# 3rd Party Settings
#CANARY_IPINFO_API_KEY=                     #str

# Mailgun Required Settings
#CANARY_MAILGUN_API_KEY=                    #str
#CANARY_MAILGUN_BASE_URL=                   #str
#CANARY_MAILGUN_DOMAIN_NAME=                #str

# Sendgrid Required Settings
#CANARY_SENDGRID_API_KEY=                   #str
#CANARY_SENDGRID_SANDBOX_MODE=              #str

# SMTP Required Settings
#CANARY_SMTP_USERNAME=                      #str
#CANARY_SMTP_PASSWORD=                      #str
#CANARY_SMTP_SERVER=                        #str
#CANARY_SMTP_PORT=                          #str

# Sentry Settings
#CANARY_SENTRY_DSN=                         #str
#CANARY_SENTRY_ENVIRONMENT=                 #["prod", "staging", "dev", "ci", "local"]
#CANARY_SENTRY_ENABLE=                      #bool

# Logging Settings
#CANARY_SWITCHBOARD_LOG_SIZE=               #int
#CANARY_SWITCHBOARD_LOG_COUNT=              #int
#ERROR_LOG_WEBHOOK=                         #str

#CANARY_TOKEN_RETURN=                       #["gif", "fortune"]